<footer class="text-white py-2 mt-auto">
    <div class="container">
        <div class="row">
            <!-- Левая колонка с информацией -->
            <div class="col-6">
                <h5 class="gradient-text">О нас</h5>
                <p class="small-text">Мы стремимся предоставить вам лучшие наборы и ресурсы для вашего удовольствия и продуктивности.</p>
            </div>
            <!-- Правая колонка с контактами и ссылками -->
            <div class="col-6 text-md-end">
                <h5 class="gradient-text">Контакты</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white small-text">Свяжитесь с нами</a></li>
                    <li><a href="#" class="text-white small-text">Поддержка</a></li>
                    <li><a href="#" class="text-white small-text">Политика конфиденциальности</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; 2024 English school. Все права защищены.</p>
            </div>
        </div>
    </div>
</footer>